@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles if needed */
html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#root {
  height: 100%;
}
